body
  background: #d5d5d5
  font-family: arial
  text-transform: uppercase


.board-wrapper
  background-image: url("http://www.texturex.com/albums/Wood-Textures/red%20wood%20texture%20grain%20natural%20wooden%20paneling%20surface%20photo%20wallpaper.jpg")
  display: flex
  width: 100%
  align-items: center
  margin: 20px

  .board-left
    float: left
    width: 12.5%

  .board-players
    float: left
    width: 75%

    .board-upper
      display: flex
      justify-content: center

    .board-downer
      display: flex
      justify-content: center

  .board-right
    float: right
    width: 12.5%
