body
  .pit
    display: flex
    font-weight: bold
    font-size: 1em
    color: #FAFAFA
    background: #4d2600
    opacity: 0.5
    padding: 40px 40px
    border: none
    border-bottom-style: groove
    border-left-style: groove
    border-color: #1a0d00
    border-width: thick
    border-radius: 50px
    margin: 20px 20px
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

  .pit:hover
    background: #1a0d00
    cursor: pointer
